.Chat{
  width: 1000px;  
  height: 730px;   
  margin: auto;    
}

.ChatSection{  
  width: 75%;
  height: 85%;
  padding: 10px;
  border: solid 2px; 
  margin: auto;
  display: flex;
  flex-direction: column;  
  justify-content:flex-end;
}

.ChatSection p{  
  margin: 1px;
  padding: 5px;
}

.ChatSection div{
  margin: 2px;
  padding: 0;
}

.ChatSection p:first-of-type {
  font-size: 12px;  
} 

.SendSection{
  width: 75%;
  height: 4%;  
  padding: 10px;
  border: solid 2px;
  margin: 1% auto;
  display: flex;
  align-items: center;  
}

.Text{
  border-color: cornflowerblue;
  width: 85%;
  height: 100%;   
}

.Send{ 
  border-radius: 10%;
  background-color: coral;
  margin: 2%; 
  width: 10%;
  height: 100%;   
}

.myText{  
  text-align: right;     
}

.othersText{
  text-align: left;    
}




